<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic API.AI Weather Agent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-wrap>
      <p>
        <strong>Example of Ionic AI Chatbot with Dialogflow (or API.AI).</strong>
      </p>
      <br>
      <strong>How to test the APP</strong>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Expressions</strong>: These are the example phrases/sentences, the user can type/speak to the Agent while interacting
        with it.
      </p>
      <br>
      <p>If you want to know about weather, you can ask Weather Agent in the following ways:</p>
      <p>* Previsión tiempo mañana</p>
      <p>* Previsión tiempo hoy</p>
      <p>* Conocer el tiempo mañana</p>
      <p>* Conocer el tiempo hoy</p>
      <p>* ¿Qué tiempo hace hoy?</p>
      <p>* ¿Qué tiempo hará mañana?</p>
      <p>* Tiempo mañana</p>
      <p>* Tiempo en Madrid</p>
      <p>* ¿Cuál es el tiempo hoy?</p>
      <p>* Tiempo de hoy</p>
      <br>
      <p>
        <strong>© 2018 Adrián Brito Pacheco</strong>
        <a href="https://github.com/abritopach" target="_blank">GitHub</a>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list no-lines>
    <ion-item text-wrap *ngFor="let m of messages" [ngClass]="{ 'from': m.from === 'bot','to':   m.from === 'user' }">
      <ion-avatar item-start>
        <img [src]="m.from === 'bot' ? 'https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png' : 'https://image.flaticon.com/icons/png/128/149/149071.png'">
      </ion-avatar>
      <h2>
        <strong>{{m.from}}</strong>
      </h2>
      <div class="message">{{m.msg}}</div>
      <p>
        <img *ngIf="m.iconURL != ''" [src]="m.iconURL" (click)="onClickWeatherIcon()" />
      </p>
      <ion-note item-end>{{currentDate | formatDate }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-input type="text" [(ngModel)]="chatBox" placeholder="Message..." (keypress)="keyPressHandler($event.keyCode, chatBox)"></ion-input>
    <ion-buttons end>
      <button ion-button (click)="send(chatBox)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>